*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: #242222;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
    justify-content:space-evenly;
}
.item{
    margin-right: 10px;
    padding-right: 10px;
    font-size: 18px;
}
.item:hover{
    color: rgb(227, 178, 32);
}
.banner-container{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* border: 2px solid #242222 ; */
    background-image: url("/images/background.png"),
    linear-gradient(45deg, #000000, #393939);
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: #ff4107;
    color: white;
    border: none;
    border-radius: ;
}